<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body
        h2 Confirma tu cuentra Uptask
        p Ya estas casi registrado,e presiona el siguente botón
        a(href=`${confirmalUrl}`) Confirmar cuenta
        p Si no puedes acceder a este enlace, visita #{confirmalUrl}
        p Si no solicistaste este e-mail, puedes ignorarlo