<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body
        h2 Reestablecer Password
        p Hola, has solicitado reestablecer tu password, haz click en el siguiente enlace para reestablecerlo, este enlace es temporal, por 1 hora. Luego debes solicitarlo nuevamente
        a(href=`${resetUrl}`) Reestablecer contraseña
        p Si no puedes acceder a este enlace, visita #{resetUrl}
        p Si no solicistaste este e-mail, puedes ignorarlo